<html>
<head>
    <script src="components/requirejs/require.js" data-main="scripts/main.js"></script>
</head>
<body>
<div class="main">
    <div class="header">
        <div class="right-bar">
            <span class="welcome">当前用户：<b>...</b> <button class="btn btn-info btn-xs"><i class="fa fa-sign-out"></i> 注销</button></span>
        </div>
    </div>
    <div class="mainContent  has-shadow">
        <div ng-view></div>
    </div>
</div>
<div>
    <div ng-controller="userInfoController">
        <table>
            <tr>
                <td><div>自定义过滤器</div></td>
                <td><input type="text" ng-model="person.name"></td>
                <td><div>{{person.name| lowercase |capitalize }}</div></td>
            </tr>
            <tr>
                <td><div>调用控制器方法</div></td>
                <td><input type="button" ng-click="showPersonName()" value="显示姓名"></td>
                <td><div>{{person.name}}</div></td>
            </tr>
            <tr>
                <td><div>自定义指令</div></td>
                <td><my-demo-link></my-demo-link></td>
                <td><div></div></td>
            </tr>

        </table>
    </div>
    <div>
        <div>自定义路由</div>
        <div ng-view></div>
    </div>
</div>

</body>
</html>