<html ng-app="demo">
<head>
    <script src="../components/angularjs-1.5.0/angular.js"></script>
    <script src="../scripts/modules/userService.js"></script>
    <script src="../scripts/filter/userFilter.js"></script>
    <script src="../scripts/controller/userController.js"></script>

</head>
<body>

<div>
    <div ng-controller="userInfoController">
        <div>
            <input type="text" ng-model="person.name">
            <div>
                <div>自定义过滤器</div>
                <div>{{person.name| lowercase |capitalize }}</div>
            </div>
            <input type="button" ng-click="showPersonName()" value="显示姓名">
        </div>
    </div>
    <div>
        <div>自定义指令</div>
        <my-demo-link></my-demo-link>
    </div>
    <div>
        <div>自定义路由</div>
        <my-demo-link></my-demo-link>
    </div>
</div>
<script src="../scripts/directive/userDirective.js"></script>
</body>
</html>